.doatest {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;

    @include notebook {
        margin-left: 13.938rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    &__row {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.938rem; 
    }
   
    &__input {
        position: relative;
        margin-bottom: 1.563rem;
        height: 2.313rem;
        width: 20rem;
        border: 1px solid $dark_gray;
        border-radius: 5px;
    }
   
    &__input-name{
        margin-bottom: 1.563rem;
        margin-top: 0.5rem;
        border: 1px solid $dark_gray;
        border-radius: 5px;
        width: 9.5rem;
        height: 2.313rem;

        @include notebook{
            width: 24rem;

          }  
    }

    &__input1 {
      margin-right: 1rem;
    }
    
    &__row-name {
        display: flex;
        align-items: center;
        margin-bottom: 0;
      }

    &__row-inline {

        @include notebook{
            margin-right: 16rem;

        }
    }
  
    &__header {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  
    &__btn {
      width: 20rem;
      height: 3.375rem;
    }
   
  
    &__link {
      margin-top: 1rem;
      text-decoration: none;
      color: #fff;
    }

    label {
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
      font-weight: 400;
      }

     &__error {
      margin-bottom: 2rem;
      color: red;
     }
  }


  .password-input__input {
    position: relative;
    margin-bottom: 1.563rem;
    height: 2.313rem;
    width: 20rem;
    border: 1px solid $dark_gray;
    border-radius: 5px;
}
.password-input__icon {
    cursor: pointer;
    position: absolute;
    left: 19.8rem;
    top: 28rem;

    @include notebook{
        left: 36.6rem;
    }
}