.header {
    padding: 0.625rem;
    font-size: 0.938rem;
    border-bottom: 1px solid $dark_gray;
  
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include notebook {
        padding-left: 7.25rem;
        padding-right: 7.75rem;
    }
  }
  
  &__logo_text {
      margin: 1.25rem;
      font-size: 1.5rem;
      color: $dark_gray
  }
  
  &__right {
    display: flex;
    align-items: center;
  }
  
  &__global-icon {
    background-image: url("../../Images/global_icon.png");
    background-size: cover;
    background-position: center;
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.445rem;
  }
  
  h2 {
    font-size: 12px;
    color: #333;
  }
  
  &__arrow {
    background-image: url("../../Images/arrow_icon.png");
    background-repeat: no-repeat;
    width: 1rem;
    height: 0.7rem;
  }
  
  &__account {
    background-image: url("../../Images/account_icon.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.5rem;
    margin-right: 3rem;
    @include notebook{
      margin-left: 1.875rem;
      margin-right: 0.5rem;

    }


  }
  
//   .header__menu {
//     /* Dodatkowe style dla menu */
//   }
}