.home {
    display: block;
    &__description{
        margin: 1.188rem;
        @include notebook {
            margin: 3.75rem 13.875rem;
        }
    }
    &__title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.625rem;
    
   }
   &__text {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: 1rem;
    @include notebook{
    margin-top: 3.75rem;
    }
   }
   &__arrow_icon {
    background-image: url("../../Images/right_arrow.png");
    background-size: cover;
    width: 1rem;
    height: 1rem;
    float: right;
    margin-top: 0.5rem;
    margin-right: 1rem;
   }
   &__btn {
    width: 100%;
    margin-top: 31.438rem;
   }
   &__btn_txt_first{
    font-size: 1.125rem;
    font-weight: 400;
    padding-bottom: 2rem;
   }
   &__btn_txt_second {
    font-size: 1.4rem;
    margin-left: 1rem;
   }
}