.invitetotest {
    @include section-mobile;

    @include notebook {
        margin-left: 13.875rem;
    }

    &__header {
        @include second-header;
    }

    &__second-header {
        @include second-header;
        margin-top: 2rem;
    }

    &__email-box {
        display: flex;
        flex-wrap: wrap;
        width: 20rem;
        height: auto;
        padding: 0.5rem;
        border: 2px solid $primary-color;
        border-radius: 5px;
        font-size: 0.75rem;

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            width: auto;
            padding: 0.25rem;
            margin: 0.2rem; 
            border: 1px solid $primary-color;
            border-radius: 5px;
            background-color: $light_gray;
            display: flex;
            align-items: center;
        }
    }

    &__remove-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        margin-left: 0.5rem;
        background-color: $light_gray;
        border: 1px solid $primary-color;
        border-radius: 50%;
    }

    &__add-box {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__input {
        @include inputs;
        margin-bottom: 0;
        margin-top: 0;
        width: 15rem;
        margin-right: 0.5rem;
    }

    &__btn {
        margin: 0 auto;
        height: 2.875rem;
        width: 5rem;

        @include notebook {
            margin: 0;
        }
    }

    &__btn-send {
        width: 20rem;
        margin-top: 2rem;
    }
}
