.menu {
  &__btn {
    display: none;
  }

  &__toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 1.35rem;
    height: 2px;
    background-color: $dark_gray;
    transition: .3s all ease-in-out;
    align-items: start;
    border-radius: 2px;
    @include notebook{
      right: 4rem;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 1.35rem;
      height: 2px;
      background-color: $dark_gray;
      transition: .3s all ease-in-out;
      align-items: start;
      border-radius: 2px;
    }

    &:before {
      top: -0.525rem;
    }

    &:after {
      z-index: 5;
      bottom: -0.525rem;
    }
  }

  &__toggle.open {
    .menu__x{
      position: relative;
      z-index: 4;
      background-image: url("../../Images/rectangle_mobile.svg");
      background-size: cover;
      width: 38.18px;
      height: 35px;
      top: -18px;
      right: 8px;
      @include notebook{
        background-image: url("../../Images/rectangle.svg");
        height: 55px;
        width: 55px;
        top: -26px;
        right: 16px;
      }
    }
    background-color: transparent;
    &:before {
      z-index: 5;
      top: 0;
      width: 1.5rem;
      background-color: $primary-color;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 0;
      background-color: $primary-color;
      width: 1.5rem;
      transform: rotate(-45deg);
    }
  }

  &__nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $color_white;
    z-index: 3;

    @include notebook {
      transform: none;
      border: 2px solid $primary-color;
      transform: translateX(-10%);
      width: 340px;
      height: 430px;
    }

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
      color: $color_black;
      margin-top: 1.25rem;
      margin-bottom: 2rem;
      @include notebook{
        margin-top: 3.75rem;

      }
    }

    .menu__element {
      width: 340px;
      margin-bottom: 1.5rem;
      width: 100%;
      text-align: left;
      font-weight: 500;
      font-size: 1rem;
      padding-left: 1.875rem;

      a {
        color: $dark_gray;
        font-size: 1rem;
      }

      a:active {
        color: $primary-color;
      }
    }
  }

  &__btn:checked ~ .menu__nav {
    display: flex;
  }

  &__btn:checked ~ .menu__toggle {
    background-color: $dark_gray;

    &:before {
      z-index: 5;
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}
