.sent {
    @include thanks-pages;

    &__box {
       @include box;
        width: 17rem;

        @include notebook {
            width: 37rem;
        }
    }

    &__background-mobile {
        @include background-mobile;
     }
  
    &__header {
        @include second-header;
        font-size: 2rem;
        margin-top: 1.5rem;

        @include notebook {
            font-size: 2.125rem;
        }
    }

    &__text {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-size: 1.5rem;
        color: $primary-color;

        @include notebook {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}