.steptwo {
    @include section-mobile;
    &__btn {
        @include btn-settings;
    }
    &__header {
        @include second-header;
    }
    &__step-number {
        @include step-number;
    }
    &__test-header {
        @include test-header;
    }
    &__info{
        text-align: center;
        margin-top: 3rem ;
        margin-bottom: 1rem;
        font-size: 0.875rem;
        font-weight: 600;
        @include notebook{
            text-align: start;
        }
    }

    &__skillbox{
        display: flex;
        flex-direction: column;
    }
    &__input {
        @include inputs;
        @include notebook{
            width: 21.249rem;
        }
    }
    &__addskill-btn {
        width: 19rem;
        height: 3rem;
        background: $color_light_gray;
        border: 2px solid $dark_gray;
        border-radius: 0.75rem;
        font-size: 1.2rem;
        font-weight: 500;
    }
    &__error{
        margin-bottom: 2rem;
        color: red;
        text-align: center;
        @include notebook {
            text-align: left;
        }
    }
}