.stepone {
    margin: 1.25rem;
    @include notebook {
      margin-left: 14.063rem;
    }
    &__btn {
      width: 100%;
      @include notebook{
        width: 21.25rem;
      }
    }
    &__header{
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    &__second-header{
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    &__test-header{
        font-weight: 600;
        width: 23rem;
        margin-bottom: 1.125rem;
        @include notebook{
          width: 100%;
        }

    }
    p {
        margin-bottom: 2.5rem;
    }
    &__step-number {
        font-weight: 600;
        margin-bottom: 1.125rem;
        span {
            font-size: 1.25rem;
            width: 100%;
        }
      
    }
    

    .stepone__radio {
        display: flex;
        margin-bottom: 10px;
      
        label {
          line-height: 1.5rem;
          display: block;
          position: relative;
          cursor: pointer;
      
          input[type='radio'] {
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
          }
      
      
      
        }
      }
      
      .stepone__warning {
        margin-top: 10px;
      }
   
      .stepone__radio-checkmark {
        display: block;
        float: left;
        width: 1.125rem;
        height: 1.125rem;
        border: 2px solid black;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 2rem;
      }
      
  
      input[type='radio']:checked + .stepone__radio-checkmark {
        border: 5px solid purple;
      }
      input[type='radio']:checked + .stepone__radio-label {
        font-weight: bold;
        color: purple;
      }
    
      .stepone__radio input[type='radio'] {
        display: none;
      }
      
      .stepone__radio-span {
        border: 2px solid black;
        border-radius: 50%;
      }
      
      .stepone__radio input[type='radio']:checked + .stepone__radio-span {
        border: 5px solid purple;
      }
      
}