.testrules {
    @include section-mobile;
    @include section-notebook;
    @include notebook{
        margin: 0 auto;
    }
    &__header {
        @include test-header;
        margin-top: 1.6rem;
    }
    &__text {
        margin-bottom: 4rem;
        line-height: 1.625rem;
    }
}