.thanks {
    @include thanks-pages;

    &__box {
       @include box;
    }

    &__background-mobile {
       @include background-mobile;
    }

    &__name-header{
        font-size: 2rem;
        font-weight: 500;
        color: $primary-color;

        @include notebook {
            font-size: 3rem;
        }
    }

    &__header {
        @include second-header;
        margin-top: 1.5rem;

        @include notebook {
            font-size: 2.125rem;
        }
    }

    &__text {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-weight: 500;
        
        @include notebook {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}