@mixin img_homepage {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    max-width: 100%;
    display: block;
    @include notebook {
        background-size: cover;

    }
}